.Ino{
    color: #F57C00;
}

.jjdd{
    display: flex;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 25px;
}

.wwss{
    
    width: 100%;
    height: 50px;
    background-color: #1A2138;
}