#luarabout {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #1a2138;
  margin: 0;
  padding: 20px;
  background-color:;
}

h2 {
  color: #f57c00;
}

p {
  line-height: 1.6;
}
