#Carousel {
  height: 100%;
}
/* html,
body {
  position: relative;
  height: 100%;
} */

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 650px;
}

.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  /* filter: brightness(65%); */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  position: relative;
}

#imgcarousel {
  filter: brightness(65%);
}

.slide-content {
  position: absolute;
  top: 40%;
  left: 39%;
  transform: translate(-50%, -50%);
  /* text-align: center; */
  z-index: 2;

  color: white;
}

.join-button {
  background-color: #f57c00;
  color: #1a2138;
  padding: 15px 30px; /* Adjust padding for a bigger button */
  font-size: 18px; /* Adjust font size for a bigger button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.join-button:hover {
  background-color: #1a2138;
  color: #f57c00;
}

.slide-content h1 {
  font-size: 72pt;
  color: white;
  margin-bottom: 10px;
}

.slide-content p {
  font-size: 19pt;
  color: white;
  max-width: 600px;
  /* margin: 0 auto; */
}
