#luarcontact {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #1a2138;
  margin: 0;
  padding: 20px;
  height: 500px;
}

h2 {
  color: #f57c00;
}

p {
  line-height: 1.6;
}

.contact-info {
  margin-top: 20px;
}
