#soal {
  margin: 10px 0;
  font-size: 18px;
}

#jawaban {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

#radio {
  margin-right: 8px;
}

#submit-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f57c00;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

#results {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}
