.Tempat {
  display: flex;
}

.Kotak {
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 5px;
  margin-bottom: 10px;
  width: 350px;
  height: 150px;
}

/*jok atek element kek h1, p*/
/* h1{
    text-align: center;
    
} */
